@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
} */

.main {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  min-height: 100vh;
}

.leftContainer {
  grid-column: 1/4;
  grid-row: 1/7;
  background: linear-gradient(90deg, #C37D92 30%, #FFE45C);
  display: flex;
}

.rightContainer {
  grid-column: 4/10;
  grid-row: 1/7;
  background: linear-gradient(90deg, #FFE45C,  #C37D92);
}

.mascotte {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  margin-left: 3%;
  color: #846267;
  /* color: #FF6201; */
  font-size: 300%;
  font-family: 'Righteous', cursive;
}

.button {
  padding-bottom: 3%;
  padding-left: 3%;
  font-size: 140%;
  font-family: 'Inter', sans-serif;
}

.logo {
  margin-top: 15%;
  display: flex;
}